*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#282A35;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.register-box{
    width:450px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.register-box h1{
    text-align:center;
    color:#9D4EDD;
    margin-bottom:10px;
}

.register-box p{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

.input-box{
    position:relative;
    margin-bottom:18px;
}

.input-box i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#9D4EDD;
    font-size:16px;
}

.input-box input,
.input-box select{
    width:100%;
    padding:13px 15px 13px 45px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    font-size:15px;
    transition:.3s;
    background:white;
}

.input-box input:focus,
.input-box select:focus{
    border-color:#9D4EDD;
    box-shadow:0 0 5px rgba(37,99,235,.3);
}

button{
    width:100%;
    padding:13px;
    background:#9D4EDD;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#9153c3;
}

.login-link{
    margin-top:25px;
    text-align:center;
}

.login-link p{
    color:#555;
}

.login-link a{
    color:#2563eb;
    text-decoration:none;
    font-weight:600;
}

.login-link a:hover{
    text-decoration:underline;
}

@media(max-width:500px){

.register-box{
    width:100%;
    padding:30px 20px;
}

}